body {
    background-color: cornsilk;
    width: 99%;
}

.section {
    border-bottom: 3px solid brown;
    width: 99%;
}

hr{
    color: brown;
}

.color_sq{
    background-color: rgb(219, 166, 97);
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    border-radius: 12px;
}

.color_sq:hover{
    border-bottom: 2px solid brown;
    border-left: 2px solid brown;
}

h1, h2, p, ul, ol {
    text-align: center;
    margin: auto;
    padding: 0px 0px 1rem 0px;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, ul, ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centre {
    width: 60%;
    margin: auto;
    text-align: justify;
    text-align-last: center;
}

.spaced {
    padding-bottom: 1rem;
}

.date {
    font-style: italic;
}

.jobtitle {
    font-weight: bold;
}

.role_requirements {
    font-size: 0.8em;
    padding-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    height: 211px;
}

.full_width{
    grid-column: 3;
    margin: auto;
}


@media screen and (max-width: 810px) {
    .centre{
        width: 70%;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid_item {
        margin: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .centre{
        width: 80%;
    }

    .grid{
        grid-template-columns: 1fr;
    }
}
